.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 50px;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-footer {
  background-color: #282c34;
  color: white;
  padding: 20px;
  font-size: 25px; /* 增大字体 */
  position: fixed; /* 固定位置 */
  bottom: 40px; /* 距离底部20px */
  left: 0;
  right: 0;
}

.App-footer a {
  color: #61dafb;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-footer a:hover {
  text-decoration: underline;
}

.App-footer svg {
  margin-right: 10px;
  font-size: 24px; /* 增大图标大小 */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
